--swiftversion 5.0
--indent 4
--maxwidth 140
--self remove
--importgrouping testable-last
--trimwhitespace always
--voidtype void
--exclude moody.xcodeproj,DerivedData,build,.build
--disable wrapMultilineStatementBraces
